/* Paleta de Colores 
#FFFFFF Blanco
#4C4B49 Gris
#1C2230 Azul
#FFC107 Amarillo
*/
:root {
  --miGris: #4c4b49;
  --miAzul: #1c2230;
  --miAmarillo: #ffc107;
}

@font-face {
  font-family: "musiciancrush";
  src: url("./assets/fonts/Musician Crush DEMO.ttf") format("truetype");
}
#divBg {
  background-image: url(./assets/img/montevideobgmobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-color: rgba(76, 75, 73, 0.6);
}

.navbar-toggler {
  background-color: #ffc107;
}

/* TITULO */
.titulo {
  font-family: "musiciancrush", cursive;
  color: #ffc107;
  font-size: 3rem;
}

.titulo:hover {
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

/* BOTONERA */
.miBtn {
  background-color: var(--miAzul);
  color: #ffffff;
}

.miBtn:hover {
  background-color: white;
  color: var(--miAzul);
}

.miBtnActive {
  background-color: var(--miAmarillo);
  color: var(--miAzul);
  border: solid 2px var(--miAzul);
}

/* MAIN */
/* TARJETAS */
#imgLauta {
  width: 17rem;
}

.miTarjeta {
  /* Mi azul con transparencia */
  background-color: rgba(28, 34, 48, 0.9);
  padding: 1.5rem;
}

.miSubTitulo {
  color: var(--miAmarillo);
}

/* FOOTER */
.divFooter {
  background-color: black;
  position: relative;
}

.divFooter ::after {
  content: "";
  background-image: url(./assets/img/curveBlack.svg);
  width: 100%;
  height: 3rem;
  position: absolute;
  top: -3rem;
  left: 0;
}

/* PAGES */
.mainPages {
  min-height: calc(100vh - 56px - 98px);
}

/* BACKGROUNDS */
.divBgHistoria {
  background-image: url(./assets/img/montevideoOldCity.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.divBgVideos {
  background-image: url(./assets/img/montevideoIMM.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.divBgContrataciones {
  background-image: url(./assets/img/montevideoSky.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.divBgContacto {
  background-image: url(./assets/img/Montevideo2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  #divBg {
    background-size: 100% auto;
  }
}
@media (min-width: 992px) {
  .divTitulo {
    display: flex;
    flex-direction: column;
  }
  #titulo {
    font-size: 4rem;
  }
  .mainPages {
    min-height: calc(100vh - 156px - 56px);
  }
}
/* Animaciones */
/* Animacion al Cargar la Pagina */
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* Animacion para Hover del Titulo */
/* .scale-up-center {
  -webkit-animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
} */
/* KeyFrames */
/* ----------------------------------------------
 * Generated by Animista on 2023-7-7 1:22:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-7-7 1:35:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation rotate-scale-down
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
